# IDE files
.idea/
.vscode/

# Data directory for containers
data/

# Binaries for programs and plugins
dist/
completions/
libra
libra-*
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Python files
**/**/__pycache__/
**/**/.pyc
