application:
  port: 8080
  public_url: http://127.0.0.1:8080 # Currently used for authentication provider redirects and OpenAPI.
  source_id: libra
  source_name: Libra
  media_types:
    - music
    - video
    - playlist
auth:
  jwt:
    signing_method: HS256 # Supported algorithms: HS256, HS384, HS512, RS256, RS384, RS512, PS256, PS384, PS512, ES256, ES384, ES512, EdDSA
    signing_key: secret # The secret key used to sign JWTs. In algorithms that use public/private keys, this should be the private key. Change this to a secure value. File paths are also supported with the format "file:<path>".
    refresh_token_expiration: 30d # Default is 30 days.
    access_token_expiration: 15m # Default is 15 minutes.
  providers: []
  global_api_routes_require_auth: true # Determines if "global" API routes (e.g., /api/v1/tracks) require authentication.
  user_api_routes_require_auth: true # Determines if "user" API routes (e.g., /api/v1/tracks/:id) require authentication.
  user_api_require_same_user: false # Determines if "user" API routes require that the authenticated user is the same as the user in the route. Disabled by default because enabling it disables song sharing and other interactions between users.
  disable_account_creation: false
general:
  id_length: 11 # Adjust this value if there (somehow) aren't enough unique IDs. The calculation is 62^id_length, so a value of 11 gives about 52 quintillion unique IDs. See https://zelark.github.io/nano-id-cc/ for ID collision probability.
  include_video_results: true # Determines whether video results are included in search results from sources that support video.
  video_audio_only: true # If true, only the audio of videos is downloaded and they are treated as tracks.
  inherit_listen_counts: false # If true, the listen count for newly added content is initially set to the listen count from the source. If false, the listen count is initially set to 0.
  artist_listen_counts_by_track: true # If true, the listen count for an artist is the sum of the listen counts for all of their content. If false, the listen count for an artist is the number of times a user has played the artist as a whole (i.e., pressing "Play" on the artist page).
  user_artist_linking: true # If true, users can link their accounts to artists. A linked account will allow the user to view analytics for the artist.
  max_search_results: 20
  max_track_duration: 0s # A value of 0 means no limit.
  reserved_usernames: # These usernames cannot be used by users. In addition to these, the username "default" is always reserved.
    - owner
    - admin
  custom_display_names: true # If true, users can set a custom display name. If false, the display name is locked to only case changes.
  reserve_display_names: true # If true, display names follow the same rules as usernames.
  admin_permissions: {}
  enabled_sources:
    - spotify
    - youtube
  document_feed_routes: true # Whether to include feed routes in OpenAPI documentation.
source_scripts:
  python_command: python3
  youtube_location: source_scripts/youtube.py # Where youtube.py will be downladed to as well as what will be run.
logs:
  level: info # Supported levels: debug, info, warn, error, fatal. Default is info.
  format: text # Possible values, text, json, or logfmt. Default is text.
storage:
  location: ./storage
  size_limit: 0B # A value of 0 means no limit.
  minimum_age_threshold: 1w # The minimum age of a file before it can be deleted when the storage size limit is reached. A value of 0 means no minimum age. Default is 1 week.
database:
  engine: sqlite
  sqlite:
    path: libra.db
  postgresql:
    host: localhost
    port: 5432
    user: libra
    pass: password
    db_name: libra
    params: sslmode=disable # Additional parameters for the PostgreSQL connection string. See https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING-KEYWORD-VALUE
