name: Lint

on: [push, pull_request]

permissions:
  contents: write
  pull-requests: write
  checks: write

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.LINTER_APP_ID }}
          private-key: ${{ secrets.LINTER_PRIVATE_KEY }}

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
          cache: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - uses: astral-sh/ruff-action@v3
        with:
          args: check --fix
      - run: ruff format

      - name: Run ShellCheck
        run: |
          find . -type f -name "*.sh" -exec shellcheck {} +

      - name: Commit & Push Changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: fix linting issues"
          commit_user_name: "${{ steps.app-token.outputs.app-slug }}[bot]"
          commit_user_email: "${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com"
          status_options: "--untracked-files=no"
