name: Lint

on: [push, pull_request]

permissions:
  contents: write
  pull-requests: write
  checks: write

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.LINTER_APP_ID }}
          private-key: ${{ secrets.LINTER_PRIVATE_KEY }}

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest

      - uses: astral-sh/ruff-action@v3
        with:
          args: check --fix
      - run: ruff format

      - name: Run ShellCheck
        run: |
          find . -type f -name "*.sh" -exec shellcheck {} +

      - name: Commit & Push Changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "chore: fix linting issues"
          status_options: "--untracked-files=no"
