name: Lint

on: [push, pull_request]

permissions:
  contents: write
  pull-requests: write
  checks: write

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.x"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: latest

      - uses: astral-sh/ruff-action@v3
        with:
          args: check --fix
      - run: ruff format

      - name: Run ShellCheck
        run: |
          find . -type f -name "*.sh" -exec shellcheck {} +

      - name: Commit & Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: fix linting issues"
          status_options: "--untracked-files=no"
